//my name is umar
.btn{

    color: black;
    /*border: 2px solid #009c23;*/
    border: 3px solid #050505;
    border-radius: 8px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    background-color: white;
    box-shadow: 2px 2px 7px #bfbfbf;

width: 100%;

}


/*body {background:#ccc}*/

/*.box h3{*/
    /*text-align:center;*/
    /*position:relative;*/
    /*top:80px;*/
/*}*/
/*.box {*/
    /*width:70%;*/
    /*height:200px;*/
    /*margin:40px auto;*/
/*}*/
/*!*==================================================*/
 /** Effect 1*/
 /** ===============================================*!*/
/*.effect1 {*/
    /*-webkit-box-shadow: 0 10px 6px -6px #777;*/
    /*-moz-box-shadow: 0 10px 6px -6px #777;*/
    /*box-shadow: 0 10px 6px -6px #777;*/
/*}*/

/*!*==================================================*/
 /** Effect 2*/
 /** ===============================================*!*/
/*.effect2*/
/*{*/
    /*position: relative;*/
/*}*/
/*.effect2:before, .effect2:after*/
/*{*/
    /*!*z-index: -1;*!*/
    /*position: absolute;*/
    /*content: "";*/
    /*bottom: 15px;*/
    /*left: 10px;*/
    /*width: 90%;*/
    /*top: 80%;*/
    /*max-width:300px;*/
    /*background: #777;*/
    /*-webkit-box-shadow: 0 15px 10px #777;*/
    /*-moz-box-shadow: 0 15px 10px #777;*/
    /*box-shadow: 0 15px 10px #777;*/
    /*!*-webkit-transform: rotate(-3deg);*!*/
    /*!*-moz-transform: rotate(-3deg);*!*/
    /*!*-o-transform: rotate(-3deg);*!*/
    /*!*-ms-transform: rotate(-3deg);*!*/
    /*transform: rotate(-2deg);*/
/*}*/
/*.effect2:after*/
/*{*/
    /*-webkit-transform: rotate(3deg);*/
    /*-moz-transform: rotate(3deg);*/
    /*-o-transform: rotate(3deg);*/
    /*-ms-transform: rotate(3deg);*/
    /*transform: rotate(2deg);*/
    /*right: 10px;*/
    /*left: auto;*/
/*}*/

/*!*==================================================*/
 /** Effect 3*/
 /** ===============================================*!*/
/*.effect3*/
/*{*/
    /*position: relative;*/
/*}*/
/*.effect3:before*/
/*{*/
    /*z-index: -1;*/
    /*position: absolute;*/
    /*content: "";*/
    /*bottom: 0px;*/
    /*left: 10px;*/
    /*width: 50%;*/
    /*top: 80%;*/
    /*max-width:300px;*/
    /*background: #777;*/
    /*-webkit-box-shadow: 0 15px 10px #777;*/
    /*-moz-box-shadow: 0 15px 10px #777;*/
    /*box-shadow: 0 15px 10px #777;*/
    /*-webkit-transform: rotate(-3deg);*/
    /*-moz-transform: rotate(-3deg);*/
    /*-o-transform: rotate(-3deg);*/
    /*-ms-transform: rotate(-3deg);*/
    /*transform: rotate(-2deg);*/
/*}*/

/*!*==================================================*/
 /** Effect 4*/
 /** ===============================================*!*/
/*.effect4*/
/*{*/
    /*position: relative;*/
/*}*/
/*.effect4:after*/
/*{*/
    /*z-index: -1;*/
    /*position: absolute;*/
    /*content: "";*/
    /*bottom: 15px;*/
    /*right: 10px;*/
    /*left: auto;*/
    /*width: 50%;*/
    /*top: 80%;*/
    /*max-width:300px;*/
    /*background: #777;*/
    /*-webkit-box-shadow: 0 15px 10px #777;*/
    /*-moz-box-shadow: 0 15px 10px #777;*/
    /*box-shadow: 0 15px 10px #777;*/
    /*-webkit-transform: rotate(3deg);*/
    /*-moz-transform: rotate(3deg);*/
    /*-o-transform: rotate(3deg);*/
    /*-ms-transform: rotate(3deg);*/
    /*transform: rotate(3deg);*/
/*}*/

/*!*==================================================*/
 /** Effect 5*/
 /** ===============================================*!*/
/*.effect5*/
/*{*/
    /*position: relative;*/
/*}*/
/*.effect5:before, .effect5:after*/
/*{*/
    /*z-index: -1;*/
    /*position: absolute;*/
    /*content: "";*/
    /*bottom: 25px;*/
    /*left: 10px;*/
    /*width: 50%;*/
    /*top: 80%;*/
    /*max-width:300px;*/
    /*background: #777;*/
    /*-webkit-box-shadow: 0 35px 20px #777;*/
    /*-moz-box-shadow: 0 35px 20px #777;*/
    /*box-shadow: 0 35px 20px #777;*/
    /*-webkit-transform: rotate(-8deg);*/
    /*-moz-transform: rotate(-8deg);*/
    /*-o-transform: rotate(-8deg);*/
    /*-ms-transform: rotate(-8deg);*/
    /*transform: rotate(-8deg);*/
/*}*/
/*.effect5:after*/
/*{*/
    /*-webkit-transform: rotate(8deg);*/
    /*-moz-transform: rotate(8deg);*/
    /*-o-transform: rotate(8deg);*/
    /*-ms-transform: rotate(8deg);*/
    /*transform: rotate(8deg);*/
    /*right: 10px;*/
    /*left: auto;*/
/*}*/

/*!*==================================================*/
 /** Effect 6*/
 /** ===============================================*!*/
/*.effect6*/
/*{*/
    /*position:relative;*/
    /*!*-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*!*/
    /*!*-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*!*/
    /*!*!*box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*!*!*/
/*}*/
/*.effect6:before, .effect6:after*/
/*{*/
    /*content:"";*/
    /*position:absolute;*/
    /*z-index:-1;*/
    /*!*-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);*!*/
    /*!*-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);*!*/
    /*box-shadow: 10px 15px 10px #777;*/
    /*top:50%;*/
    /*bottom:14px;*/
    /*left:300px;*/
    /*right:300px;*/
    /*-moz-border-radius:100px / 10px;*/
    /*border-radius:100px / 10px;*/
/*}*/
/*.effect6:after*/
/*{*/
    /*left:auto;*/
    /*right:100px;*/
    /*-webkit-transform:skew(8deg) rotate(3deg);*/
    /*-moz-transform:skew(8deg) rotate(3deg);*/
    /*-ms-transform:skew(8deg) rotate(3deg);*/
    /*-o-transform:skew(8deg) rotate(3deg);*/
    /*transform:skew(8deg) rotate(3deg);*/
/*}*/

/*!*==================================================*/
 /** Effect 7*/
 /** ===============================================*!*/
/*.effect7 {*/
    /*position: relative;*/
    /*!*-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*!*/
    /*!*-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*!*/
    /*!*box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*!*/
    /*!*}*!*/
/*}*/
/*.effect7:before, .effect7:after*/
/*{*/
    /*content:"";*/
    /*position:absolute;*/
    /*z-index:-1;*/
    /*!*-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);*!*/
    /*!*-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);*!*/
    /*box-shadow:0 0 20px rgba(0,0,0,0.8);*/
    /*top:0;*/
    /*bottom:0;*/
    /*left:10px;*/
    /*right:100px;*/
    /*!*-moz-border-radius:100px / 10px;*!*/
    /*border-radius:100px / 10px;*/
/*}*/
/*.effect7:after*/
/*{*/
    /*right:10px;*/
    /*left:auto;*/
    /*!*-webkit-transform:skew(8deg) rotate(3deg);*!*/
    /*!*-moz-transform:skew(8deg) rotate(3deg);*!*/
    /*!*-ms-transform:skew(8deg) rotate(3deg);*!*/
    /*!*-o-transform:skew(8deg) rotate(3deg);*!*/
    /*transform:skew(8deg) rotate(3deg);*/
/*}*/

/*!*==================================================*/
 /** Effect 8*/
 /** ===============================================*!*/
/*.effect8*/
/*{*/
    /*position:relative;*/

/*}*/
/*.effect8:before, .effect8:after*/
/*{*/
    /*content:"";*/
    /*position:absolute;*/
    /*z-index:-1;*/
    /*-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);*/
    /*-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);*/
    /*box-shadow:0 0 20px rgba(0,0,0,0.8);*/
    /*top:0px;*/
    /*bottom:0px;*/
    /*left:0;*/
    /*right:10px;*/
    /*-moz-border-radius:100px / 10px;*/
    /*border-radius:100px / 10px;*/
/*}*/
/*.effect8:after*/
/*{*/
    /*right:10px;*/
    /*left:auto;*/
    /*-webkit-transform:skew(8deg) rotate(3deg);*/
    /*-moz-transform:skew(8deg) rotate(3deg);*/
    /*-ms-transform:skew(8deg) rotate(3deg);*/
    /*-o-transform:skew(8deg) rotate(3deg);*/
    /*transform:skew(8deg) rotate(3deg);*/
/*}*/



/*.box1 {*/
    /*width: 25%;*/
    /*height: 300px;*/
    /*float: left;*/
    /*margin-left: 30%;*/
    /*background-color: white;*/
    /*margin-top: 19px;;*/

    /*!*-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);*!*/
    /*!*-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);*!*/
    /*!*box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);*!*/
    /*border: 1px solid rgb(239, 239, 239);*/
/*}*/

#text{
    font-size: 40px;
    color: black;
    box-shadow: 0px 0px 5px  rgb(139, 139, 139 ) inset;}
.bt{
    background-color: #fafafa;
    color: #4065e9;

}
.btk{
    border: 3px solid #050505;
    border-radius: 8px;
    background-color: black;
    color: white;

}


.table{
    margin: 10px;
    width: 25%;
    float: left;
    margin-left: 30%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);



}
.form-group{
    height: 70px;
}